{
	"workerNum": 1024,
	"port": "1883",
	"host": "0.0.0.0",
	"tlsPort": "8883",
	"tlsHost": "0.0.0.0",
	"tlsInfo": {
		"verify": true,
		"certFile": "/Users/varunramg/go/src/github.com/YaleOpenLab/opensolar/server.crt",
		"keyFile": "/Users/varunramg/go/src/github.com/YaleOpenLab/opensolar/server.key"
	}
}
